.orange {
  position: relative;
  background-color: orange;
  height: 150px;
  width: 100%;
}

#white {
  position: absolute;
  top: 150px;
  background-color: white;
  width: 100%;
  height: 150px;
}

.green {
  position: absolute;
  top: 300px;
  background-color: green;
  height: 150px;
  width: 100%;
}

img {
  position: absolute;
  height: 293px;
  width: 50%;
  border-radius: 50%;
  top: 6px;
  left: 25%;
}

