* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;

}
.heading{
    color: red;
    border: 2px solid black;
     background-color: black;
width: 69vh;
height: 70vh;
     display: flex;
    align-items: center;
    justify-content: center;
    
  }