

.Email
{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    border-radius: 5%;
}

.password{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px; 
}

.sai
{
    font-size: xx-large;
     color: color-mix(in hsl increasing hue, color 50, color 50);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
    border: none;
}

.files{ 
   /* max-width: 100rem;
    padding: 20px;
    background-color: #f2f2f2;*/
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    

}

h1
{
    color: red;
    scrollbar-highlight-color: black;
}
